<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/style.css" />
  </head>

  <div class="container" id="main">

    <body>

      <div class="page-header">
        <h1>Motivational sloth says:</h1>
      </div>

      <img src="/static/img/smile-sloth.jpg" id="rand-sloth" class="img-rounded img-responsive center-block">

      <p class="lead" id="quote">I don’t have to prove anything to anyone, I only have to follow my heart and concentrate on what I want to say to the world. I run my world.</p>

      <div class="text-center">
        <button id="sloth-button" class="btn btn-primary" type="submit" >Show me another!</button>
      </div>
    </body>
  </div>

  <footer class="footer">
    <div class="container">
      <p class="text-muted">Beyonce quotes gathered by Elizabeth Plank of <a href="http://mic.com/articles/77147/15-most-inspiring-feminist-beyonce-quotes">Mic.com</a>. Adorable sloths courtesy of Google Images.</p>
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="/static/script.js"></script>
  </footer>

</html>
