<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/style.css" />
  </head>

  <div class="container">

    <body>
      <div class="page-header">
        <h1>Motivational sloth says:</h1>
      </div>

      <img src="/static/img/smile-sloth.jpg" id="rand-sloth" class="img-rounded img-responsive center-block">

      <p class="lead" id="quote">Test test test</p>

      <button id="sloth-button" class="btn btn-primary" type="submit" >Sloth Me</button>
    </body>
  </div>

  <div id="footer">

    <script src="https://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="/static/script.js"></script>

    <div class="container">
      <p class="muted credit">Beyonce quotes gathered by Elizabeth Plank of <a href="http://mic.com/articles/77147/15-most-inspiring-feminist-beyonce-quotes">Mic.com</a>. Adorable sloths courtesy of Google Images.</p>
    </div>

  </div>

</html>
